# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Virtual environments ---
.venv/
venv/

# --- Databases ---
*.db
*.duckdb

# --- Logs / temp files ---
*.log
*.csv
*.tmp

# --- IDE / Editor settings ---
.vscode/
.idea/
.venv/
